.cover__subtitle {
    text-align: center;
    max-width: 360px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
    z-index: 1;
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        font-size: 14px;
        padding: 15px 16px 0;
    }
  }
  