.intro__text {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    max-width: 620px;
    margin: 40px 148px 0;
}


@media screen and (min-width: 768px) and (max-width: 1024px)
.intro__text {
    margin: 40px auto 0;
    width: 100%;
}