.places__cards {
  display: grid;
  max-width: 984px;
  grid-gap: 48px 40px;
  grid-template-columns: 460px 1fr;
  grid-template-areas:
    "title link"
    "image text";
  margin: 0 auto;
  margin-bottom: 80px;
}

@media screen and (max-width: 1024px) {
  .places__cards {
    grid-template-columns: 440px 1fr;
    grid-gap: 48px 32px;
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .places__cards {
    grid-template-columns: 340px 1fr;
    grid-gap: 48px 28px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .places__cards {
    grid-template-areas:
      "title"
      "image"
      "text";
    grid-template-columns: 1fr;
    grid-gap: 32px;
    padding: 0px;
  }
}

/*
grid-template-columns: fit-content(460px) 1fr;
*/
